/* map styles from Leaflet Introduction  */

html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

 body {
    background: #ffeaed;
    color: #000;
    font-family: 'Merriweather', 'Palatino', 'Georgia', serif;
}

h1 {
    font-family: 'Merriweather Sans', 'Verdana', 'Tahoma', sans-serif;
}

#usmap {
height: 400px;
width: 100%;
margin-top: 3rem;
border: 1px solid #999;
}

.caption {
text-align: center;
}

.container {
  margin: auto;
  max-width: 490px;
}

p {
  line-height: 1.5;
}

.github {
  padding-bottom: 1rem;
}

a {
    color: #0000E0;
}

a:hover {
    color: #551A8B;
}

@media screen and (max-width: 700px) {

    #usmap {
      height: 500px;
    }

    p {
        padding: 1rem;
    }
}
